@page
@model WebApplication.Pages.BrowseModel
@using BusinessLayer

<!DOCTYPE html>
<html>
<head>
	<title>Browse Page</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="~/static/css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="wrap">
		<div class="cards">
			<div class="card-wrap">
				@foreach (var vehicle in VehicleBusiness.GetAll()) {
					<div class="card">
						<div class="description-box">
							<h1>@VehicleBusiness.GetManufacturer(vehicle).Name - @VehicleBusiness.GetVehicleModel(vehicle).Name</h1>
							<hr>
							<p>@vehicle.Color</p>
							<p>@vehicle.CubicCapacity cc</p>
							<p>@vehicle.HorsePower ks</p>
							<p>@VehicleBusiness.GetVehicleType(vehicle).Name</p>
						</div>
						<div class="div-price">@vehicle.Price &euro;</div>
					</div>
				}
			</div>
		</div>
	</div>
</body>
</html>