@page
@model IndexModel
@{ Layout = "_LayoutEmpty"; ViewBag.Title = "Početna"; ViewBag.Style = "/static/css/styleIndex.css"; }

<header>
	<a class="btn-login" asp-page="">Prijavi se</a>
    <a class="btn-register" asp-page="">Registruj se</a>
</header>

<div class="container">
	<h1 class="moto-text">Pronađi <span style="color:#06BEB6">pravi auto</span> za tebe</h1>

	<div class="cards">
		@{
			var vehicles = VehicleBusiness.GetMostExpensive(4);
			var index = 0;
			@for (int _ = 0; _ < 2; _++) {
				<div class="row">
					@for (var __ = 0; __ < 2; __++) {
						<div class="card">
							<div class="image-box">
								<img src="https://automobiles.honda.com/-/media/Honda-Automobiles/Vehicles/2021/Civic-Type-R/Feature-Blades/Exterior-Interior/Overview/MY21CivicTypeRExtInt00Overview14002x.jpg" alt="">
							</div>
							<div class="description-box">
								@{ var vehicle = vehicles[index++]; }
								<h1>@VehicleBusiness.GetManufacturer(vehicle).Name - @VehicleBusiness.GetVehicleModel(vehicle).Name</h1>
								<hr>
								<p><strong>Godište: </strong>@vehicle.Year</p>
								<p><strong>Kilometraža: </strong>@vehicle.Mileage km</p>
								<p><strong>Motor: </strong>@vehicle.CubicCapacity cc</p>
								<p><strong>Tip vozila: </strong>@VehicleBusiness.GetVehicleType(vehicle).Name</p>
								<p><strong>Gorivo: </strong>@vehicle.Fuel</p>
							</div>
							<div class="div-price">@vehicle.Price &euro;</div>
						</div>
					}
				</div>
			}
		}
	</div>

	<a class="btn-showmore" asp-page="/Browse">Prikaži vise</a>
</div>