@page
@model WebApplication.Pages.IndexModel
@using BusinessLayer

<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
	    <link href="~/static/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <div class="btn-login">Prijavi se</div>
            <div class="btn-register">Registruj se</div>
        </header>

        <div class="wrap">
            <h1 class="moto-text">Pronađi <span style="color:#06BEB6">pravi auto</span> za sebe</h1>

            <div class="cards">
                <p>izdvajamo iz ponude:</p>

                <div class="card-wrap">
                    @foreach (var vehicle in VehicleBusiness.GetTopThree()) {
					<div class="card">
						<div class="description-box">
							<h1>@VehicleBusiness.GetManufacturer(vehicle).Name - @VehicleBusiness.GetVehicleModel(vehicle).Name</h1>
							<hr>
							<p>@vehicle.Color</p>
							<p>@vehicle.CubicCapacity cc</p>
							<p>@vehicle.HorsePower ks</p>
							<p>@VehicleBusiness.GetVehicleType(vehicle).Name</p>
						</div>
						<div class="div-price">@vehicle.Price &euro;</div>
					</div>
					}
                </div>

                <div class="btn-showmore"><a href="/Browse">Prikaži više</a></div>
            </div>
        </div>
    </body>
</html>